<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cronos" version="0.7.0" targetFramework="net461" />
  <package id="CSRedisCore" version="3.6.3" targetFramework="net461" />
  <package id="NewLife.Core" version="8.7.2020.308" targetFramework="net461" />
  <package id="NewLife.Redis" version="3.6.2020.308" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>