
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/hplus/js/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/plugins/tagsinput/jquery.tagsinput.css" rel="stylesheet" />
<link href="~/plugins/wangEditor3.1/wangEditor.css" rel="stylesheet" />
<style>
    .pli {
        display: block;
        float: left;
    }

    .pdel {
        margin-top: -26px;
        text-align: right;
        filter: alpha(Opacity=80);
        opacity: 0.9;
    }

    img {
        cursor: pointer;
    }
</style>
<div class="ibox-content">
    <form class="form form-horizontal" id="form" autocomplete="off">
        <input type="hidden" name="id" id="id" value="@(ViewBag.Id)">
        <div class="form-group">
            <label class="col-sm-3 control-label required">头像：</label>
            <div class="col-sm-3">
                <div id="pic_up">选择图片</div>
                <ul id="pic_up_list"></ul>
            </div>
            <input type="hidden" id="head_url" name="head_url" value="" />
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">专家类型：</label>
            <div class="col-sm-3">
                @Html.DropDownList("expert_type", ViewBag.TypeList as SelectList, new { @class = "form-control" })
            </div>
            <input type="hidden" id="type_name" name="type_name" value="" />
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">微信OpenID：</label>
            <div class="col-sm-6">
                <input type="text" name="open_id" id="open_id" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">专家名称：</label>
            <div class="col-sm-6">
                <input type="text" name="expert_name" id="expert_name" value="" class="form-control" data-rule="required;">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">单位名称：</label>
            <div class="col-sm-6">
                <input type="text" name="company_name" id="company_name" value="" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">职位：</label>
            <div class="col-sm-6">
                <input type="text" name="position_name" id="position_name" value="" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">头衔：</label>
            <div class="col-sm-6">
                <input type="text" name="expert_title" id="expert_title" value="" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">从业时长(年)：</label>
            <div class="col-sm-3">
                <input type="number" name="work_year" id="work_year" value="0" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">咨询次数：</label>
            <div class="col-sm-3">
                <input type="number" name="expert_count" id="expert_count" value="1" class="form-control" data-rule="required;">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">评分：</label>
            <div class="col-sm-3">
                <input type="number" name="star_score" id="star_score" value="5.0" class="form-control" data-rule="required;range[1~5]">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">是否展示：</label>
            <div class="col-sm-3">
                <div class="checkbox checkbox-success">
                    <input type="checkbox" name="show" id="show" checked="checked">
                    <label for="show">
                        是
                    </label>
                </div>
                <input type="hidden" id="is_show" name="is_show" value="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">展示顺序：</label>
            <div class="col-sm-3">
                <input type="number" name="show_sort" id="show_sort" value="0" class="form-control" min="0" data-rule="required;">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">个人简介：</label>
            <div class="col-sm-6">
                <div id="expert_profile_editor" style="width:500px;"></div>
             
                <textarea name="expert_profile" id="expert_profile" style="display:none;"></textarea>
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-6">
                <textarea name="remark" id="remark" cols="60" rows="4"></textarea>
            </div>
        </div>*@
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>链接</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="optbody">
                <tr>
                    <td> <input type="text" placeholder="按钮名称" class="form-control" value="" data-rule="required"></td>
                    <td><input type="text" placeholder="链接" class="form-control" value=""></td>
                    <td><button class="btn btn-danger " onclick="delrow(this)"><i class="fa fa-trash"></i></button></td>
                    <td style="display:none;"><input type="hidden" value="0"></td>
                </tr>
            </tbody>
            <tfoot>
                <TR>
                    <TD colspan="4">
                        <button class="btn btn-info " onclick="addrow(this)"><i class="fa fa-plus"></i></button>
                    </TD>
                </TR>

            </tfoot>
        </table>
        <input type="hidden" name="btns" id="btns" value="" />
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-12 col-sm-offset-3">
                <button class="btn btn-primary" type="submit">保存内容</button>
                <button class="btn btn-white" type="button" onclick="cancel()">取消</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/plugins/wangEditor3.1/wangEditor.min.js"></script>
    <script src="~/hplus/js/plugins/webuploader/webuploader.min.js"></script>
    <script src="~/plugins/tagsinput/jquery.tagsinput.js"></script>
    <script type="text/javascript">
       // var index = parent.layer.getFrameIndex(window.name), imgup;
        var rowIndex = 1, btnstatus = false;
        var editor;
        $(function () {
            var E = window.wangEditor;
            editor = new E('#expert_profile_editor');
            editor.customConfig.menus = [
                'head',  // 标题
                'bold',  // 粗体
                'fontSize',  // 字号
                'fontName',  // 字体
                'italic',  // 斜体
                'underline',  // 下划线
                'strikeThrough',  // 删除线
                'foreColor',  // 文字颜色
                'backColor',  // 背景颜色
                'link',  // 插入链接
                'list',  // 列表
                'justify',  // 对齐方式
                'quote',  // 引用
                'undo',  // 撤销
                'redo'  // 重复
            ]
            editor.create();
            $('#expert_title').tagsInput();

                $('#form').validator({
                    stopOnError: false,
                    timely: 2,
                    theme: "yellow_right",
                    valid: function (form) {
                        // 表单验证通过，提交表单
                        var expert_profile = editor.txt.html();
                        $('#expert_profile').val(expert_profile);
                        var type = $('#expert_type').find('option:selected').text();
                        $('#type_name').val(type);
                        var iShow = $('#show').is(':checked');
                        $('#is_show').val(iShow);

                        var btns = [];
                        $('#optbody').find("tr").each(function () {
                            var btn = {
                                id: 0,
                                btn_name: '',
                                btn_href: ''
                            };
                            $(this).find('input').each(function (index, element) {
                                var itext = $(this).val();
                                if (index === 0) {
                                    btn.btn_name = itext;
                                } else if (index === 1) {
                                    btn.btn_href = itext;
                                } else if (index === 2) {
                                    btn.id = itext;
                                }
                            });
                            btns.push(btn);
                        });

                        $('#btns').val(JSON.stringify(btns));
                        jutils.ajaxPost('/doctor/expertinfo/Save', $(form).serialize(),
                            function (res) {
                               cancel();
                            });
                    }
            });


                initImgUpload();
                loadData();
            });


            function loadData() {
                var id = $("#id").val();

                if (id !== '') {
                    jutils.ajaxGet('/doctor/expertinfo/GetDataById', { id: id }, function (res) {

                        var model = res.data.model;

                        if (model) {
                            $('#form').initFormData(model);
                            $('#expert_title').importTags(model.expert_title);

                            // 初始化编辑器的内容
                            editor.txt.html(model.expert_profile);

                            var html = '<li class="pli" id="' + model.head_url + '"><img width="150" height="130" src="' + model.head_url +'"  />';
                            html += '<div class="pdel"><img  src="/images/del.png" onclick="delimg(this)" data-id="' + model.head_url +'" /></div>';
                            html += '</li>';
                            $('#pic_up_list').html(html);
                        }
                        var buttons = res.data.buttons;
                        rowIndex = buttons.length;
                        var html = '';
                        for (var i = 0; i < rowIndex; i++) {
                            var btn = buttons[i];
                            html += '<tr>';
                            html += '<td> <input type="text" placeholder="按钮名称" class="form-control" value="'+btn.btn_name+'" data-rule="required"></td>';
                            html +=
                                '<td> <input type="text" placeholder="链接" class="form-control" value="' + btn.btn_href +'" data-rule="required"></td>';
                            html +=
                                '<td><button class="btn btn-danger " onclick="delrow(this)"><i class="fa fa-trash"></i></button></td>';
                            html += '<td style="display:none;"><input type="hidden" value="' + btn.id +'"></td>';
                            html += ' </tr>';

                        }
                        $('#optbody').html(html);
                    });
                }
            }


            //初始化上传组件
            function initImgUpload() {
                imgup = new WebUploader.Uploader({
                    pick: '#pic_up',
                    // 文件接收服务端。
                    server: '/doctor/expertinfo/Uploadimg',
                    auto: true,
                    accept: {
                        title: '图片',
                        extensions: 'jpg,jpeg,png',
                        mimeTypes: 'image/*'
                    }
                });
                imgup.on('beforeFileQueued',
                    function () {
                        var url = $('#head_url').val();
                        if (url) {
                            jutils.error('请先删除当前图片');
                            return false;
                        }
                    });
                imgup.on('uploadSuccess',
                    function(file, res) {
                        //$('#excelInfo').html(process);
                        if (res.status) {
                            var html = '<li class="pli" id="' +
                                res.data.url +
                                '"><img width="150" height="130" src="' +
                                res.data.url +
                                '"  />';
                            html += '<div class="pdel"><img  src="/images/del.png" onclick="delimg(this)" data-id="' +
                                res.data.url +
                                '" /></div>';
                            html += '</li>';
                            $('#pic_up_list').append(html);
                            $('#head_url').val(res.data.url);
                        }
                    });
                imgup.on('uploadComplete',
                    function() {
                        imgup.reset();
                    });

        }

       function delimg(obj) {
            var id = $(obj).data('id');
            jutils.confirm("确定删除头像？",
                function(res) {
                    jutils.ajaxGet('/doctor/expertinfo/delimg',
                        { url: id },
                        function(res) {
                            $('#pic_up_list').empty();
                            $('#head_url').val('');
                        });
                });

        }


       function delrow(obj) {
            var id = $(obj).parent().next('td').find('input').val();
            if (id !== '0') {
                jutils.confirm('确认删除吗？',
                    function () {
                        jutils.ajaxPost('/doctor/expertinfo/delbtn',
                            { id: id },
                            function (res) {
                                var $tr = $(obj).parent().parent('tr');
                                $tr.remove();
                                rowIndex--;
                            });
                    });

            } else {
                var $tr = $(obj).parent().parent('tr');
                $tr.remove();
                rowIndex--;
            }

        }

       function addrow() {
            rowIndex++;
            var html = '<tr>';
            html += '<td> <input type="text" placeholder="按钮名称" class="form-control" value="" data-rule="required"></td>';
            html +=
                '<td> <input type="text" placeholder="链接" class="form-control" value="" data-rule="required"></td>';
            html +=
                '<td><button class="btn btn-danger " onclick="delrow(this)"><i class="fa fa-trash"></i></button></td>';
            html += '<td style="display:none;"><input type="hidden" value="0"></td>';
            html += ' </tr>';
            $('#optbody').append(html);

        }
            function cancel() {
                parent.$.altasTab.close('zjtab');
            }
    </script>


}






