

body{

    font-size: .28rem;
    background-color: #F5F5F5;
    margin: 0;
}

*{
    box-sizing: border-box;
}


/* 字体颜色 */
.font-green{
    color: #39B7A7;
}
.font-gray{
    color: #A6A6A6;
}
.font-red{
    color: #EE591D;
}

/* 底部声明 */
.footer{
    color: #D0D0D0;
    text-align: center;
    font-size: 14px;
    line-height: .28rem;
    padding-top: .24rem;
    padding-bottom: .44rem;
}
textarea:focus{
    outline: none;
}

