
@{
    ViewBag.Title = "title";
    Layout = "_Form";
}
<style>
    .bjui-pageContent {
        background-color: #fff;
        /*padding: 10px;*/
        position: absolute;
        width: 90%;
        height: 1000px;
        overflow: auto;
        right: 0;
        bottom: 50px;
        margin-bottom: 10px;
    }

    .bjui-pageFotter {
        bottom: 5px;
        background: #eae7ef;
        position: absolute;
        padding: 3px 5px;
        width: 100%;
        min-height: 28px;
        border-top: 1px #e1e1e1 solid;
    }
</style>

@*ibox-content*@
<div class="bjui-pageContent ">
    <form class="form form-horizontal" id="form" autocomplete="off">

        <div class="form-group">
            <label class="col-sm-3 control-label">父项：</label>
            <div class="col-sm-4">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">字典名称：</label>
            <div class="col-sm-4">
                <input type="text" name="dic_name" id="dic_name" value="" class="form-control" data-rule="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">字典编码：</label>
            <div class="col-sm-4">
                <input type="text" name="dic_code" id="dic_code" value="" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">排序：</label>
            <div class="col-sm-4">
                <input type="text" name="sort_num" id="sort_num" class="form-control" data-rule="required;integer; range[1~1000]">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-9">
                <textarea name="remark" id="remark" cols="60" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-9">
                <textarea name="remark" id="remark" cols="60" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-9">
                <textarea name="remark" id="remark" cols="60" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-9">
                <textarea name="remark" id="remark" cols="60" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-9">
                <textarea name="remark" id="remark" cols="60" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-9">
                <textarea name="remark" id="remark" cols="60" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-9">
                <textarea name="remark" id="remark" cols="60" rows="4"></textarea>
            </div>

        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-12 col-sm-offset-3">
                <button class="btn btn-primary" type="submit">保存内容</button>
                <button class="btn btn-white" type="button" onclick="cancel()">取消</button>
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageFotter">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>
