<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$:news.title}</title>
    <meta name="keywords" content="{$:news.title}">
    <meta name="description" content="{$:news.title}">
    <link href="/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="pull-left">
                            当前位置：{$news.location}
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-white btn-xs" type="button">作者：{$news.author}</button>
                            <button class="btn btn-white btn-xs" type="button">来源：{$news.source}</button>
                            <button class="btn btn-white btn-xs" type="button">发布时间：{$news.publish_time format="yyyy-MM-dd"}</button>
                        </div>
                        <div class="text-center article-title">
                            <h1>
                                {$news.title length=50}
                            </h1>
                        </div>
                        <div class="article-content">
                            {$news.content}
                        </div>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/hplus/js/bootstrap.min.js?v=3.3.6"></script>
</body>
</html>

