

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="ibox">
    <div class="ibox-title">
        <h5>分享分类</h5>
    </div>
    <div class="ibox-content">
        <form class="form form-horizontal" id="myForm">
            <input type="hidden" id="id" name="id" value="@(ViewBag.Id)" />
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label required">分类名称：</label>
                    <div class="col-sm-9">
                        <input type="text" name="category_name" id="category_name" class="form-control" placeholder="" data-rule="required">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label required">排序：</label>
                    <div class="col-sm-4">
                        <input type="number" name="sort_num" id="sort_num" class="form-control" value="1" placeholder="" data-rule="required">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>


            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-primary" type="submit">
                        保存
                    </button>
                    <button class="btn btn-white" type="button" onclick="cancel()">
                        返回
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('#myForm').validator({
                stopOnError: false,
                timely: 2,
                theme: "yellow_right",
                valid: function (form) {
                    jutils.ajaxPost('/BasicData/Category/Save', $(form).serialize(),
                        function (res) {
                            cancel();

                        });
                }
            });


            loadData();
        })
        function loadData() {
            var id = $("#id").val();

            if (id !== '0') {

                jutils.ajaxGet('/BasicData/Category/GetModel', { id: id }, function (res) {
                    $('#myForm').initFormData(res.data.model);
                });
            }
        }


        function cancel() {
            jutils.closeForm();
        }
    </script>
}
