
@{
    ViewData["Title"] = "广告管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="container-div">
    <div class="row">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add();" data-role="site:add:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary single disabled" onclick="edit(this);" data-id="0" data-role="site:add:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="removeAll(this);" data-id="0" data-role="site:add:delete">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-danger single disabled" onclick="banAd(this);" data-id="0" data-role="site:add:ban">
                <i class="fa fa-ban"></i> 停用
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="dataTable"></table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        let $table;
        $(function () {
            loadGrid();
        });

        function loadGrid() {
            let options ={
                url: '/SiteSet/Ad/GetData',
                pageNumber: 1,                      // 初始化加载第一页，默认第一页,并记录
                pageSize: 10,                       // 每页的记录行数（*）
                pageList: "10, 25, 50, 100",        // 可供选择的每页的行数（*）
                queryParams: function (params) {
                    let p = {
                        pageNumber: params.pageNumber,
                        pageSize: params.pageSize
                    }
                    return p;
                },
                columns: [
                    { field: 'selectItem', checkbox: true },
                    { field: 'ad_title', title: '广告标题', align: 'center' },
                    { field: 'ad_href', title: '广告链接', align: 'center' },
                    {
                        field: 'ad_image', title: '广告图片', align: 'center', formatter: function (v, d, i) {
                            if (v) {
                                return '<img src="' + v + '" width="50" height="50"/>';
                            }

                            return '';
                        }
                    },
                    {
                        field: 'enable_status', title: '启用状态', align: 'center', formatter: function (v, d, i) {
                            if (v === 1) {
                                return '<span class="label label-primary">启用</span>';
                            }

                            return '<span class="label label-danger">未启用</span>';
                        }
                    },
                    { field: 'create_time', title: '添加时间', align: 'center' }
                ]

            };

            $table = $('#dataTable').easyTable(options);
        }

        function renderOperation(v, r, i) {
            var html = jutils.initToolBarRow(v);
            return html;
        }

        function add() {

            jutils.dialogTop('添加广告', '/SiteSet/Ad/form', { id: 0 }, null, function () {
                $table.easyTable("search");
            })
        
        }

        function edit(obj) {

            var rows = $table.easyTable("selected");
            if (rows.length == 0) {
                jutils.warn("请选择数据行");
                return;
            }
            jutils.dialogTop('添加广告', '/SiteSet/Ad/form', { id: rows[0].id }, null, function () {
                $table.easyTable("search");
            })
        }

        function banAd(obj) {
            var id = $(obj).data('id');
            jutils.confirm("确定禁用广告吗？", function () {
                jutils.ajaxGet('/SiteSet/Ad/ban',
                    { id: id },
                    function () {
                        $table.easyTable("search");
                    });
            });


        }

        function removeAll(obj) {
            var rows = $table.easyTable("selected");
            if (rows.length == 0) {
                jutils.warn("请选择数据行");
                return;
            }
            var ids = [];
            for (let i = 0; i < rows.length; i++) {
                ids.push(rows[i].id);
            }
            jutils.confirm('确认删除吗',
                function () {
                    jutils.ajaxGet('/SiteSet/Ad/DeleteById',
                        { ids: ids.join() },
                        function () {
                            $table.easyTable("search");
                        });
                });
        }




    </script>
}


