<!DOCTYPE html>
<html id="doc">
<!-- head部分 -->
<vt:include id="navi" file="Template/include/header.html" charset="utf-8" />
<body>
    <!-- nav部分 -->
    <vt:include file="Template/include/navi.html" charset="utf-8" />
    <!-- banner部分 -->
    <div class="banner news">
        <img class="banImage" src="{$channel.channel_image}" alt="">
        <div class="title">
            <p>{$channel.channel_name}</p>
        </div>
    </div>
    <!-- main -->
    <div class="main-news">
        <div class="layui-container">
            <div class="layui-row layui-col-space20">
                <vt:foreach id="contents" from="$contents" item="content" index="i" total="10" paging="1">
                    <div class="layui-col-lg6 content">
                        <div>
                            <div class="news-img">
                                <a href="{$content.content_href}">
                                    <img src="{$content.cover_image}" onerror="javascript:this.src='/static/images/biglogo.png';" style="width:184px;height:142px;">
                                </a>
                            </div><div class="news-panel">
                                <strong><a href="{$content.content_href}">{$content.title length='17'}</a></strong>
                                <p class="detail">
                                    <span>{$content.summary length='60'}</span>
                                    <a href="{$content.content_href}">[详细]</a>
                                </p>
                                <p class="read-push">阅读 <span>{$content.hit_count}</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>{$content.publish_time formatter='yyyy-MM-dd'}</span></p>
                            </div>
                        </div>
                    </div>

                    <vt:foreachelse />
                    <article class="post-27 post type-post status-publish format-standard hentry category-news">
                        <div class="layui-col-lg6 content">
                            <p class="detail">暂时没有数据。。。</p>
                        </div>
                    </article>
                </vt:foreach>
            </div>
            <div id="newsPage"></div>
        </div>
    </div>
    <!-- footer部分 -->
    <vt:include id="navi" file="Template/include/footer.html" charset="utf-8" />
</body>
</html>

