
@{
    ViewData["Title"] = "数据表字段信息";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="container-div">
    <input type="hidden" id="tableName" name="tableName" value="@(ViewBag.TableName)">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="searchForm">
                <div class="select-list">
                    <ul>

                        <li>
                            字段名称：<input type="text" id="columnName" name="columnName">
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" id="searchButton"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" id="resetButton"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" role="group" id="toolbar">
            <a class="btn btn-info" onclick="syncAll(this);" data-id="0" data-role="system:codegen:syncall">
                <i class="fa fa-refresh"></i> 全量同步
            </a>
            <a class="btn btn-danger multiple disabled" onclick="del(this);" data-id="0" data-role="system:codegen:delete">
                <i class="fa fa-remove"></i> 删除
            </a>
            <span class="badge badge-primary">数据表名称：@(ViewBag.TableName)</span>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="dataTable"></table>
        </div>

    </div>
</div>
@section scripts
{
    <script>
        var $table;
        $(function () {
            loadGrid();
        });

        function loadGrid() {
            let options = {
                url: '/admin/CodeGen/getColumndata',
                pagination: false,
                queryParams: function (params) {
                    let p = {
                        tableName: $('#tableName').val(),
                        columnName: $('#columnName').val()
                    }
                    return p;
                },
                columns: [
                    { field: 'ck', checkbox: true },
                    {
                        field: 'column_name', title: '字段名称', align: 'left'
                    },
                    {
                        field: 'type_text_full', title: '数据库类型', align: 'left'
                    },
                    {
                        field: 'cstype', title: 'C#类型', align: 'left'
                    },
                    {
                        field: 'is_identity', title: '主键', align: 'left', formatter: function (v,r) {

                            if (v === 1 && r.is_identity == 1) {
                                return '<span class="badge badge-primary">主键自增</span>';
                            }

                            if (v === 1) {
                                return '<span class="badge badge-primary">主键</span>';
                            }
                           
                            return "";
                        }
                    },

                    {
                        field: 'can_null', title: '可空', align: 'left', formatter: function (v) {
                            if (v === 1) {
                                return '<span class="badge badge-primary">是</span>';
                            }
                            return '';
                        }
                    },
                    {
                        field: 'comment', title: '字段描述', align: 'left'
                    },
                    {
                        field: 'sync_time', title: '首次同步', align: 'left'
                    },
                    {
                        field: 'update_time', title: '最近同步', align: 'left'
                    },
                    {
                        field: 'id', title: '操作', align: 'left'
                    }
                ]

            };
            $table = $('#dataTable').easyTable(options);
        }

        function renderResult(v, d) {
            var logTitle = 'info';
            var logClass = 'badge-info';
            switch (v) {
                case 2:
                    logTitle = 'debug';
                    logClass = 'badge-success';
                    break;
                case 3:
                    logTitle = 'warn';
                    logClass = 'badge-warning';
                    break;
                case 4:
                    logTitle = 'error';
                    logClass = 'badge-danger';
                    break;

            }
            var html = '<span class="badge ' + logClass + '">' + logTitle + '</span>';

            return html;
        }

        function renderOpts(v) {
            var html = '<a data-role="0" class="btn btn-white btn-bitbucket" title="View" href="javascript:void(0);" onclick="detail(this)" data-id="' + v + '"><i class="fa fa-eye"></i></a>';
            return html;
        }



        function detail(obj) {

            var id = $(obj).data('id');
            var url = '/admin/easylog/detail';

            jutils.dialog('日志详情', url, { id: id }, null, function () {

            });
        }

        function del() {
            var rows = $table.easyTable('selected');
            if (rows.length === 0) {
                jutils.warn('请选择数据行');
                return;
            }
            var ids = [];
            for (var i = 0; i < rows.length; i++) {

                ids.push(rows[i].id);

            }
            jutils.confirm('确认删除数据表信息吗',
                function () {
                    jutils.ajaxGet('/admin/CodeGen/RemoveAll',
                        { ids: ids.join() },
                        function () {
                            $table.easyTable('search');
                        });
                });
        }

        function syncAll() {
            jutils.confirm('确认全量同步表信息吗',
                function () {
                    jutils.ajaxGet('/admin/CodeGen/SyncAll', null,
                        function () {
                            $table.easyTable('search');
                        });
                });
        }

        function query() {
            $table.easyTable('search');
        }
    </script>
}








