
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="ibox">
            <div class="ibox-content">
                <div class="div_find">
                    <div>
                        <label class="find_labela">专家：</label>
                        @Html.DropDownList("expertId", ViewBag.ExpertList as SelectList, new { @class = "find_input" })
                        <label class="find_labela">开始时间：</label>
                        <input type="text" placeholder="起始时间" id="stime" class="find_input" value="@(DateTime.Now.AddDays(-30).ToString("yyyy-MM-dd"))">
                        <label class="find_labela">结束时间</label>
                        <input type="text" placeholder="结束时间" id="etime" class="find_input" value="@(DateTime.Now.ToString("yyyy-MM-dd"))">
                        <button class="btn btn-white" type="button" onclick="query()">查询</button>
                        <button class="btn btn-white" type="button" onclick="outfile()">导出</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="table" class="table text-nowrap"></table>
                </div>
            </div>
            
        </div>
    </div>
@section scripts
    {
    <script src="~/plugins/laydate/laydate.js"></script>
    <script>
        var $roleTable;
        $(function () {
            laydate.render({
                elem: '#stime'
                ,theme: 'molv'
            });
            laydate.render({
                elem: '#etime'
                ,theme: 'molv'
            });
            loadGrid();
        });

        function loadGrid() {
            $roleTable = $("#table").bootstrapTable({
                url: '/Consulting/QuestionInfo/GetData',
                toolbar: '#toolbar',
                pagination: true,
                height: $(window).height(),
                pageSize: 15,
                pageList: [5, 10, 15, 20],
                showColumns: true,
                showRefresh: true,
                clickToSelect: true,
                sidePagination: "server",
                locale: "zh-CN",
                striped: true,
                queryParams: function (params) {
                    var id = $('#expertId').val();
                    var stime = $('#stime').val();
                    var etime = $('#etime').val();
                    var params2 = {
                        limit: params.limit, //每页多少条
                        offset: params.offset, //从第几条开始读(默认就好)
                        id: id,
                        stime: stime,
                        etime: etime
                    };
                    return params2;
                },
                columns: [
                    { field: 'id', title: '操作', align: 'center', formatter: renderOpt },
                    { field: 'expert_name', title: '咨询师', align: 'center', width:100 },
                    { field: 'insert_time', title: '提问时间', align: 'center',width: 100 },
					{ field: 'qtitle', title: '咨询主题', align: 'center' },
                    { field: 'qcontent', title: '咨询内容', align: 'left', width: 250,formatter: renderResp },
                    {
                        field: 'resp_time_one', title: '回答时间', align: 'center', width: 100, formatter: function(v, d, i) {
                        if (v === '1753-01-01 00:00:00') {
                            return '';
                        }
                        return v;
                    } },
                    { field: 'resp_content_one', title: '回答内容', align: 'left', width:250 ,formatter: renderResp},
                    {
                        field: 'serial_num', title: '回合标记', align: 'center', width: 50, formatter: function (v, d) {
                            return d.serial_num + '-' + d.round_num;
                        }
                    },
                    { field: 'admin_remark', title: '精分备注', align: 'left', width: 200, formatter: renderResp },
                    { field: 'star_num', title: '评分', align: 'center', width: 50 },
                    { field: 'pay_money', title: '打赏(元)', align: 'center', width: 50 },
                    { field: 'insert_id', title: '唯一身份', align: 'center', width: 100, formatter: renderOpenId },
                    { field: 'patient_name', title: '用户昵称', align: 'left', width: 100},
                    {
                        field: 'round_end', title: '咨询状态', align: 'center', width: 50, formatter: function (v, d, i) {
                            if (v) {
                                return '<span class="label label-danger">已结束</span>';
                            }

                            return '<span class="label label-primary">进行中</span>';
                        }
                    }
                   
                ]

            });

            jutils.initToolBarRole('#toolbar');
        }

        function renderOpenId(v, r, i) {
            //一共28位
            //var f = v.substr(0, 10);
            //var f2 = v.substr(10, 10);
            //var f3 = v.substring(20, 27);
            //var html = f + '<br/>' + f2 + '<br/>' + f3;

            var rendHtml = jutils.splitLine(v,10);
            return rendHtml;
        }

		function renderResp(v, r, i) {
            //一共28位
            var rendHtml = jutils.splitLine(v, 20);
            return rendHtml;
        }
        //渲染操作
        function renderOpt(v, r, i) {
            var html = jutils.initToolBarRow(v);

            return html;
        }

        function showDetail(obj) {
            var id = $(obj).data('id');
            parent.$.altasTab.open({
                id: 'question_detail',
                title: '咨询详情',
                url: '/Consulting/questioninfo/NewDetail?id=' + id,
                close: null
            })
            //location.href = '/Consulting/questioninfo/NewDetail?id=' + id;

        }
        function adminRemark(obj) {
            var id = $(obj).data('id');
            layer.prompt({
                formType: 2,
                value: '',
                title: '请输入精分备注内容',
                area: ['300px', '150px'] //自定义文本域宽高
            }, function (value, index, elem) {
                    if (!value) {
                        layer.alert("请输入备注内容");
                    }
                    jutils.ajaxPost("/Consulting/questioninfo/UpdateAdminRemark", { id: id, content: value }, function (res) {
                        if (res.status) {
                            layer.close(index);
                            $roleTable.bootstrapTable('refresh');
                        }
                    })
            });
        }
        function edit(obj) {

            var id = $(obj).data('id');
            parent.$.altasTab.open({
                id: "zjtab",
                title: '专家信息',
                url: '/Doctor/expertinfo/form/' + id,
                close: function () {
                    $roleTable.bootstrapTable('refresh');
                }
            });
        }

        function del(obj) {
            var id = $(obj).data('id');
            jutils.confirm('确认删除吗',
                function () {
                    jutils.ajaxGet('/Doctor/expertinfo/DeleteById',
                        { id: id },
                        function () {
                            $roleTable.bootstrapTable('refresh');
                        });
                });
        }

        function query() {

            $roleTable.bootstrapTable('refresh');
        }
        function outfile() {
            var id = $('#expertId').val();
            var stime = $('#stime').val();
            var etime = $('#etime').val();

            if (!stime) {
                jutils.info("请选择起始时间");
                return;
            }
            if (!etime) {
                jutils.info("请选择结束时间");
                return;
            }

            location.href = '/Consulting/questioninfo/outfile?id=' + id + "&stime=" + stime + "&etime=" + etime;
        }
    </script>


}




