
@{
    ViewData["Title"] = "咨询详情";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/plugins/wangEditor3.1/wangEditor.css" rel="stylesheet" />
<div class="row" id="main-container">
    <div class="col-sm-8">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="m-b-md">
                                <a href="#" class="btn btn-white btn-xs pull-right">编辑项目</a>
                                <h2>{{question.qtitle}}</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>咨询状态：</dt>
                                <dd>
                                    <label class="control-label" v-html="questionEnd"></label>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <dl class="dl-horizontal">
                                <dt>咨询专家：</dt>
                                <dd>{{question.expert_name}}</dd>
                                <dt>咨询时间：</dt>
                                <dd>{{question.insert_time}}</dd>

                            </dl>
                        </div>
                        <div class="col-sm-7" id="cluster_info">
                            <dl class="dl-horizontal">
                                <dt>高危行为发生日期：</dt>
                                <dd>
                                    {{question.highrisk_time | timeFormatter}}
                                </dd>
                                <dt>行为天数：</dt>
                                <dd>
                                    {{question.highrisk_day}} 天
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <dl class="dl-horizontal">
                                <dt>咨询内容：</dt>
                                <dd>
                                    {{question.qcontent}}
                                </dd>
                                <dt>咨询图片：</dt>
                                <dd>
                                    <div class="photos">
                                        <a href="javascript:void(0);" v-for="image in images">
                                            <img alt="image" class="feed-photo" :src="image">
                                        </a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row" v-if="question.star_num>0">
                        <div class="col-sm-12">
                            <dl class="dl-horizontal">
                                <dt>评分：</dt>
                                <dd>
                                    {{question.star_num}}
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row" v-if="question.star_num>0">
                        <div class="col-sm-12">
                            <dl class="dl-horizontal">
                                <dt>评价：</dt>
                                <dd>
                                    {{question.patient_remark}}
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-sm-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li>
                                                <a href="#tab-1" data-toggle="tab">回复内容</a>
                                            </li>
                                            <li class="">
                                                <a href="#tab-2" data-toggle="tab">关联主题</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <div class="feed-activity-list">
                                                <div class="feed-element" v-if="question.resp_times==1">
                                                    <a href="javascript:void(0);" class="pull-left">
                                                        <img alt="image" class="img-circle" :src="question.expertHeader" onerror="nofind()">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="pull-right text-navy">{{question.resp_time_one | timeFormatter}}</small>
                                                        <strong>{{question.expert_name}}</strong>
                                                        <br>
                                                        <div class="well" v-html="question.resp_content_one">
                                                           
                                                        </div>
                                                        <div class="photos">
                                                            <a href="javascript:void(0);" v-for="image in resp_images">
                                                                <img alt="image" class="feed-photo" :src="image">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feed-element" v-if="question.resp_times==2">
                                                    <a href="javascript:void(0);" class="pull-left">
                                                        <img alt="image" class="img-circle" :src="question.expertHeader" onerror="nofind()">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="pull-right text-navy">{{question.resp_time_two | timeFormatter}}</small>
                                                        <strong>{{question.expert_name}}</strong>
                                                        <br>
                                                        <div class="well" v-html="question.resp_content_two">
                                                            
                                                        </div>
                                                        <div class="photos">
                                                            <a href="javascript:void(0);" v-for="image in resp_images_two">
                                                                <img alt="image" class="feed-photo" :src="image">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                @**@
                                            <div class="feed-element" v-if="!question.qend && question.resp_times < 2">
                                                <strong>回复：</strong>
                                                <br>
                                                <div id="reply_editor" style="width:500px;"></div>
                                                <div class="actions">
                                                    <button class="btn btn-primary" type="button" onclick="saveReply()">提交回复</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab-2">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>咨询主题</th>
                                                        <th>咨询时间</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="refq in refQuestions">
                                                        <td>
                                                            <a :href="'/Consulting/questioninfo/newdetail?id='+refq.id">{{refq.question_title}}</a>
                                                        </td>
                                                        <td class="text-right mail-date">{{refq.question_time}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="wrapper wrapper-content project-manager">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="m-b-md">
                                <h2>患者资料</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt style="width:100px;">昵称：</dt>
                                <dd style="margin-left:120px;">
                                    {{patient.nick_name}}
                                </dd>
                                <dt style="width:100px;">性别：</dt>
                                <dd style="margin-left:120px;">
                                    {{patient.gender|gender}}
                                </dd>
                                <dt style="width:100px;">性取向：</dt>
                                <dd style="margin-left:120px;">
                                    {{question.sexual_orientation|sexual_orientation}}
                                </dd>
                                <dt style="width:100px;">出生年份：</dt>
                                <dd style="margin-left:120px;">
                                    {{patient.birth_year}}
                                </dd>
                                <dt style="width:100px;">职位：</dt>
                                <dd style="margin-left:120px;">
                                    {{patient.job_name}}
                                </dd>
                                <dt style="width:100px;">民族：</dt>
                                <dd style="margin-left:120px;">
                                    {{patient.national}}
                                </dd>
                                <dt style="width:100px;">婚姻状态：</dt>
                                <dd style="margin-left:120px;">
                                    {{patient.marriage_status|Marriage}}
                                </dd>
                                <dt style="width:100px;">教育程度：</dt>
                                <dd style="margin-left:120px;">
                                    {{patient.educational_level|renderEdu}}
                                </dd>
                                <dt style="width:100px;">居住地：</dt>
                                <dd style="margin-left:120px;">
                                    {{question.provice}}-{{question.city}}
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footerbar">
        <div class="col-sm-12 col-sm-offset-3">
            <button class="btn btn-white" type="button" onclick="cancel()">关闭</button>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/plugins/wangEditor3.1/wangEditor.min.js"></script>
    <script type="text/javascript">
        var editor;
        var app = new Vue({
            el: '#main-container',
            data: {
                question: {},
                refQuestions: [],
                images: [],
                resp_images: [],
                resp_images_two: [],
                patient: {}
            },
            methods: {

            },
            created: function () {
                loadData();
                
            },
            mounted: function () {
                this.$nextTick(initEditor);　
            },
            computed: {
                questionEnd: function (v) {
                    if (this.question.qend) {
                        return '<span class="label label-danger">已结束</span>';
                    }
                    return '<span class="label label-primary">进行中</span>';
                }
            },
            filters: {
                timeFormatter: function (value) {
                    return jutils.toLocalTime(value);
                },
                gender: function (v) {
                    if (v === 0)
                        return '女';
                    return '男';
                },
                sexual_orientation: function (v) {
                    if (v === 0) {
                        return '同性';
                    } else if (v === 1) {
                        return '异性';
                    }
                    return '其他';
                }, renderEdu: function (v) {
                    if (v === 1) {
                        return '文盲';
                    } else if (v === 2) {
                        return '小学';
                    } else if (v === 3) {
                        return '初中';
                    } else if (v === 4) {
                        return '高中或中专';
                    } else if (v === 5) {
                        return '大专及以上';
                    }
                    return '暂无';
                },
                Marriage: function (v) {
                    if (v === 1) {
                        return '未婚';
                    } else if (v === 2) {
                        return '已婚有配偶';
                    } else if (v === 3) {
                        return '离异或丧偶';
                    } else if (v === 4) {
                        return '不详';
                    }
                    return '暂无';
                }

            }
        });

        function initEditor() {
            setTimeout(function () {
                if ($('#reply_editor').length > 0) {
                    //console.log('存在');
                    var E = window.wangEditor;

                    editor = new E('#reply_editor');
                    editor.customConfig.menus = [
                        'head',  // 标题
                        'bold',  // 粗体
                        'fontSize',  // 字号
                        'fontName',  // 字体
                        'italic',  // 斜体
                        'underline',  // 下划线
                        'strikeThrough',  // 删除线
                        'foreColor',  // 文字颜色
                        'backColor',  // 背景颜色
                        'link',  // 插入链接
                        'list',  // 列表
                        'justify',  // 对齐方式
                        'quote',  // 引用
                        'undo',  // 撤销
                        'redo'  // 重复
                    ]
                    editor.create();
                };
            }, 1000);
            
        }
        function loadData() {
            var id = jutils.getQueryParam("id");
            jutils.ajaxGet('/Consulting/questioninfo/GetDetail', { id: id }, function (res) {
                app.question = res.data.model;
                app.patient = res.data.patient;
                app.refQuestions = res.data.refQuestions;

                var allImages = res.data.imgs;
                app.images = allImages.QuestionImages;
                app.resp_images = allImages.ResponseImages;
                app.resp_images_two = allImages.ResponseImagesTwo;
            });
        }

        function saveReply() {
            var replyContent = editor.txt.html();
            var questionId = app.question.id;
            jutils.ajaxPost("/api/apiexpert/SaveReply", { id: questionId, content: replyContent, images: '' },
                function (res) {
                    if (res.status) {
                        layer.alert("回复成功");
                        cancel();
                        return;
                    }
                    layer.alert(res.msg);
                })
        }

        function nofind() {
            var img = event.srcElement;
            img.src = "/upfiles/heads/head.png";
            img.οnerrοr = null;       //控制不要一直跳动
        }
        function cancel() {
            //location.href = '/Consulting/questioninfo/index';
            parent.$.altasTab.close('question_detail');
        }
    </script>

}




