
@{
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="ibox-content">
    <form class="form form-horizontal" id="menuForm" autocomplete="off">
        <input type="hidden" name="id" id="id" value="@(ViewBag.Id)">
        <div class="form-group">
            <label class="col-sm-3 control-label">父菜单：</label>
            <div class="col-sm-4">
                @Html.DropDownList("parent_id", ViewBag.MenuSel as SelectList, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">菜单名称：</label>
            <div class="col-sm-4">
                <input type="text" name="menu_name" id="menu_name" class="form-control" data-rule="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">url：</label>
            <div class="col-sm-4">
                <input type="text" name="menu_url" id="menu_url" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">图标：</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" name="menu_icon" id="menu_icon" class="form-control"> <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" onclick="showicon();">
                            搜索图标
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label required">排序：</label>
            <div class="col-sm-4">
                <input type="number" name="menu_sort" id="menu_sort" class="form-control" data-rule="required">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-9">
                <textarea name="remark" id="remark" cols="60" rows="4"></textarea>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-12 col-sm-offset-3">
                <button class="btn btn-primary" type="submit">保存内容</button>
                <button class="btn btn-white" type="button" onclick="cancel()">取消</button>
            </div>
        </div>
    </form>
</div>


@section scripts
{
    <script type="text/javascript">
        var index = parent.layer.getFrameIndex(window.name);
        $(function() {
            $('#menuForm').validator({
                stopOnError: false,
                timely: 2,
                theme: "yellow_right",
                valid: function(form){
                    // 表单验证通过，提交表单
                    jutils.ajaxPost('/sysmenu/SaveData', $(form).serialize(),
                        function(res) {
                            parent.layer.close(index);
                        });
                }
            });

            loadData();
        });


        function loadData() {
            var id = $("#id").val();
          
            if (id !== '') {
                jutils.ajaxGet('/sysmenu/GetDataById', { id: id }, function(res) {
                   
                    $('#menuForm').initFormData(res.data.model);
                   // jutils.loadFormData($('#menuForm'), res.data.model);
                  
                });
            }
        }

        function save() {
            $('#menuForm').validator({
                valid: function(form){
                    // 表单验证通过，提交表单
                    console.log(form);
                }
            });
           
        }

        function cancel() {
            parent.layer.close(index);
        }

        function showicon() {
            var findex=layer.open({
                type: 2,
                area: ['700px', '450px'],
                fixed: false, //不固定
                maxmin: true,
                content: '../html/fontawesome.html'
            });
            layer.full(findex);
        }
    </script>


}
