@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/hplus/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/hplus/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    
    <!-- 全局js -->
    <script src="~/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/hplus/js/bootstrap.min.js?v=3.3.6"></script>

    <script src="~/plugins/nice_validate/jquery.validator.js?local=zh-CN"></script>
    <script src="~/plugins/layer/layer.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/framework/jutils.js"></script>
</head>
<body>



</body>
</html>
