
.box{
    padding: .4rem;
    font-size: .24rem;
    background-color: #fff;
    margin-bottom: .2rem;
}
.header{
    border-bottom: 1px solid #F0F0F0;
}
.header .hint{
    margin-bottom: .16rem;

    color: #888888;
}
.header .title{
    font-size: .28rem;
    color: #333333;
}
    .header .title .subhead {
        font-size: .2rem;
        color: #A6A6A6;
        margin-left: .2rem;
    }
.header .time{
    font-size: 8px;
    color: #9B9B9B;
    margin-bottom: .1rem;
}
.content{
    padding: .15rem 0;
    color: #555555;
    margin-bottom: .22rem;
}
.imgs img{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .2rem;
}

.box>.title{
    display: flex;
    justify-content: space-between;
    color: #39B7A7;
    margin-bottom: .12rem;
}
    .box > .title .message {
        width: 80px;
        height: 23px;
        line-height: 23px;
        text-align: center;
        font-size:12px;
        border: 1px solid #39B7A7;
        border-radius: .06rem;
    }
textarea{
    width: 100%;
    height: 3.02rem;
    line-height: .44rem;
    font-size: 16px;
    background-color: #F6F6F6 ;
    padding:0 .12rem;
    resize: none;
    border: 0;
    margin-bottom: .4rem;
}
textarea::placeholder{
    color: #AFAFAF;
}
textarea::-webkit-input-placeholder {
    color: #AFAFAF;
}


.btn{
    width: 100%;
    height: .56rem;
    color:#fff;
    background: #EE591D;
    border-radius: .06rem;
    border:0;
    margin: .42rem 0;
}
.upImg span{
    font-size: .2rem;
    line-height: .4rem;
    color: #888888;
}
.upload{
    height: 1.3rem;
    width: 1.3rem;
    background:url('./images/updateImg.png') no-repeat;
    position:relative;
}
.upload input{
    height:1.22rem;
    width: 1.22rem;
    overflow: hidden;
    position:absolute;
    right:0;
    top:0;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor:pointer;
}


.replyBtn {
    width: 1.6rem;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    color: #EE591D;
    border: 1px solid #EE591D;
    border-radius: .06rem;
    background-color: #fff;
    margin-left: 4.9rem;
}
