body {
    background-color: #fff;
    padding: 0 .4rem;
    color: #888888;
}

.title {
    margin-top: .46rem;
    font-size: 14px;
    line-height: .52rem;
}

textarea {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    background-color: #F6F6F6;
    padding: 1px;
    resize: none;
    border: 0;
}

textarea::placeholder {
    color: #AFAFAF;
}

textarea::-webkit-input-placeholder {
    color: #AFAFAF;
}

.option {
    display: flex;
    font-size: 16px;
    color: #333333;
}

.option label {
    margin-right: .1rem;
}

.option input[type="radio"] {
    vertical-align: middle;
    margin-bottom: 5px;
}

.detail textarea {
    /*height: 2.54rem;*/
    min-height: 150px;
    
}

.upImg {
    padding: .4rem 0;
    border-bottom: 1px solid #F0F0F0;
}

.bottom .row {
    margin-top: .18rem;
    font-size: .24rem;
}

.btn {
    width: 100%;
    height: 38px;
    line-height: 38px;
    color: #fff;
    background: #EE591D;
    border-radius: 3px;
    border: 0;
    margin: .42rem 0;
}

.upImg span {
    font-size: 14px;
    line-height: .4rem;
    color: #888888;
}

.upload {
    height: 1.3rem;
    width: 1.3rem;
    background: url('../images/updateImg.png');
    position: relative;
    background-size: 1.3rem 1.3rem;
    background-repeat: no-repeat;
}

.upload input {
    height: 1.22rem;
    width: 1.22rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100%;
    background: rgba( 0,0,0,0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.modal .content{
    width: 6.7rem;
    text-align: center;
    padding:.4rem;
    border-radius: .16rem;
    margin: 1.24rem auto;
    background: #FFFFFF;
    z-index: 200;
}
.modal .content .QRcode{
    width: 5.9rem;
    height: 5.9rem;
}
.modal .content .text{
    font-size: .32rem;
    color: #333333;
    margin-top: .2rem;
    line-height: .4rem;
}
.modal .close{
    position: absolute;
    top: .48rem;
    right: .4rem;
    width: .56rem;
    height: .56rem;
    line-height: .56rem;
    color: #fff;
    font-size: 0.4rem;
    border-radius: 50%;
    background: rgba(255,255,255,0.60);

}
.imgs img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .2rem;
}
