
.banner{
    width: 100vw;
    height: 2.82rem;
}
.avatar{
    width: 1.56rem;
    height: 1.56rem;
    /*border-radius: 50%;
    -webkit-border-radius: 50%;*/
}

.box {
    background-color: #FFF;
    margin: .20rem .3rem;
    border-radius: 5px;
}
body .box:last-of-type{
    margin-bottom: 0;
}
.box .head{
    display: flex;
    justify-content: space-between;
    height: .92rem;
    line-height: .92rem;
    padding: 0 .28rem;
}
.box .icon-xiajiantou{
    color: #D0D0D0;
}
/* 名片 */
.item{
    padding: 0 .24rem .28rem .24rem ;
}
.item .content{
    display: flex;
    align-items: center;
    padding-top: .22rem;
    border-top: 1px solid #F0F0F0;
}
.item .detail{
    margin-left: .26rem;
}
.item .detail>*{
    margin-bottom: .1rem;
}
.item .detail .name .post{
    color: #999;
    font-size: .2rem;
}
.item .detail .organize{
    font-size: .24rem;
}
.item .detail .intro{
    width: 4.62rem;
    color: #999;
    font-size: .24rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.item .bottom{
    display: flex;
    justify-content: space-between;
    font-size: .2rem;
    margin-top: .1rem;
}
/* 评星默认样式 */
.icon-xingxing{
    font-size: .26rem;
    color: #999999;
    margin-left: -0.06rem;
}
.rank{
    color:#EE591D;
}
.rankNumber{
    color: #EE591D;
    margin-right: .16rem;
}
.icon-banxing{
    width: .25rem;
    height: .25rem;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: .12rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('./images/icon_binxing.png');
}
.tags {
    display: flex;
}
.tag {
    /*height: 16px;
    line-height: 16px;*/
    text-align: center;
    color: #39B7A7;
    font-size: 10px;
    border-radius: .16rem;
    padding: 0 .1rem;
    border: 1px solid #39B7A7;
    margin-right: .1rem;
}