body{
    text-align: center;
    background-color: #fff;
}
.iconSuccess{
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem auto;
}
.successText{
    color:#0080FF;
    margin-bottom: .5rem;
}
.replyBtn {
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: .06rem;
    background: #FF8000;
    margin: .5rem auto;
}
div.text {
    margin: 20px;
    text-align: center;
}