@{
    ViewBag.Title = "字典管理";
    Layout = "_Index";
}
<link href="~/plugins/jquery-treegrid/css/jquery.treegrid.min.css" rel="stylesheet" />
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div id="toolbar" class="btn-group">

                </div>
                <table id="dicTable"></table>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/plugins/bootstrapTableTree/bootstrap-table-treegrid.js"></script>
    <script src="~/plugins/jquery-treegrid/jquery.treegrid.min.js"></script>

    <script>
        var $table;
        $(function () {
            loadGrid();
        });

        function loadGrid() {
          
           $table = $("#dicTable").bootstrapTable({
               url:'/sysdic/GetTreeGrid',
                height: $(window).height(),
                striped: true,
               sidePagination: 'server',
                idField: 'id',
                columns: [
                    {field: 'ck',checkbox: true},
                    { field: 'dic_name', title: '字典名称', align: 'left' },
                    { field: 'sort_num', title: '排序', align: 'center' },
                    { field: 'dic_code', title: '字典编码', align: 'center' },
                    { field: 'remark',title: '备注',align: 'center'}
                ],
                treeShowField: 'dic_name',
                parentIdField: 'parent_id',
               onLoadSuccess: function (data) {
                    $table.treegrid({
                        // initialState: 'collapsed',
                        treeColumn: 1,
                        // expanderExpandedClass: 'glyphicon glyphicon-minus',
                        // expanderCollapsedClass: 'glyphicon glyphicon-plus',
                        onChange: function() {
                            $table.bootstrapTable('resetWidth');
                        }
                    });
                }
                // bootstrap-table-treetreegrid.js 插件配置
            });
            jutils.initToolBar('#toolbar', true);
        }

        function add() {

            jutils.dialogForm('字典信息',
                '/sysdic/formtest',null,
                function () {
                   
                });
        }

        function edit() {
            var rows = $table.bootstrapTable('getSelections');
            if (rows.length === 1) {
                var pid = rows[0].parent_id;
                jutils.dialogForm('字典信息',
                    '/sysdic/form',
                    { id: rows[0].id },
                    function () {
                        $table.bootstrapTable('refresh', { query: { pid: pid } });
                  
                    });
            } else {
                jutils.warn('请选择一条需要编辑的数据行');
            }

        }

        function del() {
            var rows = $table.bootstrapTable('getSelections');
            if (rows.length === 0) {
                jutils.warn('请选中需要删除的数据行');
                return;
            }

            var ids = [];
            for (var i = 0; i < rows.length; i++) {

                ids.push(rows[i].id);

            }

            jutils.confirm('确认删除吗',
                function () {
                    jutils.ajaxGet('/sysdic/del',
                        { ids: ids.join() },
                        function () {
                            $table.bootstrapTable('refresh');
                            
                        });
                });
        }
    </script>


}