

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="ibox">
    <div class="ibox-title">
        <h5>咨询分享</h5>
    </div>
    <div class="ibox-content">
        <form class="form form-horizontal" id="myForm">
            <input type="hidden" id="id" name="id" value="@(ViewBag.Id)" />
            <div class="form-group">
                <label class="col-sm-2 control-label required">分类名称：</label>
                <div class="col-sm-4">
                    @Html.DropDownList("share_category", ViewBag.Categorys as SelectList, new { @class = "form-control", @style = "width:300px;" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label required">咨询标题：</label>
                <div class="col-sm-7">
                    <input type="text" name="question_title" id="question_title" class="form-control" readonly="readonly" data-rule="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label required">分享标题：</label>
                <div class="col-sm-7">
                    <input type="text" name="share_title" id="share_title" class="form-control" placeholder="请输入分享标题" data-rule="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label required">点击量：</label>
                <div class="col-sm-7">
                    <input type="number" name="hit_count" id="hit_count" value="1" class="form-control" data-rule="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label required">审核状态：</label>
                <div class="col-sm-6">
                    <div class="radio radio-success radio-inline">
                        <input type="radio" id="inlineRadio1" value="1" name="share_status" checked="">
                        <label for="inlineRadio1">通过</label>
                    </div>
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" id="inlineRadio2" value="2" name="share_status">
                        <label for="inlineRadio2">不通过</label>
                    </div>
                </div>
            </div>
            <div class="footerbar">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-primary" type="submit">
                            保存
                        </button>
                        <button class="btn btn-white" type="button" onclick="cancel()">
                            返回
                        </button>
                    </div>
                </div>
            </div>
          
        </form>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('#myForm').validator({
                stopOnError: false,
                timely: 2,
                theme: "yellow_right",
                valid: function (form) {
                    jutils.ajaxPost('/Consulting/QuestionShare/Set', $(form).serialize(),
                        function (res) {
                            cancel();

                        });
                }
            });


            loadData();
        })
        function loadData() {
            var id = $("#id").val();

            if (id !== '0') {
                jutils.ajaxGet('/Consulting/QuestionShare/GetModel', { id: id }, function (res) {
                    $('#myForm').initFormData(res.data.model);

                    var shareStatus = res.data.model.share_status;
                    $("input:radio[name='share_status']").each(function () {
                        var thisVal = $(this).val();
                        if (thisVal == shareStatus) {
                            $(this).attr("checked", "checked");
                            return;
                        }
                    });
                });
            }
        }


        function cancel() {
            jutils.back();
        }
    </script>
}


