<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/hplus/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/hplus/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <!-- bootstrap-table -->
    <link href="~/hplus/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/hplus/css/animate.css" rel="stylesheet">
    <link href="~/hplus/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <style>

        /* Additional style to fix warning dialog position */

        #alertmod_table_list_2 {
            top: 900px !important;
        }
    </style>

</head>
<body>
    @RenderBody()
    <!-- 全局js -->
    <script src="~/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!-- layui -->
    <script src="~/plugins/layer/layer.js"></script>
    <!-- bootstrap-table-->
<script src="~/hplus/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="~/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 自定义js -->
     <script type="text/javascript" src="~/framework/altasTab.js"></script>
    <script src="~/framework/jutils.js"></script>
    <script src="~/hplus/js/content.js?v=1.0.0"></script>
     
    @RenderSection("scripts", required: false)
</body>
</html>
