<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$:news.title}</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <link href="/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="pull-right">
                            <button class="btn btn-white btn-xs" type="button">700BIKE</button>
                            <button class="btn btn-white btn-xs" type="button">BeginOne</button>
                            <button class="btn btn-white btn-xs" type="button">乐视超级自行车</button>
                        </div>
                        <div class="text-center article-title">
                            <h1>
                                {$:news.title}
                            </h1>
                        </div>
                        <div class="article-content">
                            {$:news.content}
                        </div>
                        <hr>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/hplus/js/content.min.js?v=1.0.0"></script>
</body>
</html>

