<!DOCTYPE html>
<html id="doc">
<!-- head部分 -->
<vt:include id="navi" file="Template/include/header.html" charset="utf-8" />
<body>
    <!-- nav部分 -->
    <vt:include id="navi" file="Template/include/navi.html" charset="utf-8" />
    <!-- banner部分 -->
    <div>
        <div class="layui-carousel" id="banner">
            <div carousel-item>
                <vt:template name="channels" type="Banner" total="3">
                    <vt:foreach from="$#.contents" item="#.content" index="#.i">
                        <div>
                            <img src="{$#.content.cover_image}">
                            <!--<div class="panel">
                                <p class="title">{$#.content.title}</p>
                                <p>{$#.content.title}</p>
                            </div>-->
                        </div>
                    </vt:foreach>
                </vt:template>
            </div>
        </div>
    </div>
    <!-- main部分 -->
    <div class="main-product">
        <div class="layui-container">
            <p class="title">专为前端而研制的<span>核心产品</span></p>
            <div class="layui-row layui-col-space25">
                <vt:template name="channels" type="产品" total="4">
                    <vt:foreach from="$#.contents" item="#.content" index="#.i">
                        <div class="layui-col-sm6 layui-col-md3">
                            <div class="content">
                                <div><img src="{$#.content.cover_image}"></div>
                                <div>
                                    <p class="label">{$#.content.title}</p>
                                    <p>{$#.content.summary}</p>
                                </div>
                                <a href="{$#.content.content_href }">查看产品 ></a>
                            </div>
                        </div>

                    </vt:foreach>
                </vt:template>
            </div>
        </div>
    </div>
    <div class="main-service">
        <div class="layui-container">
            <p class="title">为客户打造完美的<span>专业服务</span></p>
            <div class="layui-row layui-col-space25 layui-col-space80">
                <vt:template name="channels" type="专业服务" total="2">
                    <vt:foreach from="$#.contents" item="#.content" index="#.i">
                        <div class="layui-col-sm6">
                            <div class="content">
                                <div class="content-left"><img src="{$#.content.cover_image}"></div>
                                <div class="content-right">
                                    <p class="label">{$#.content.title}</p>
                                    <span></span>
                                    <p>{$#.content.summary}</p>
                                </div>
                            </div>
                        </div>
                    </vt:foreach>
                </vt:template>
            </div>
            <div class="service-more"><a href="">查看更多</a></div>
        </div>
    </div>
    <!-- footer部分 -->
    <vt:include file="Template/include/footer.html" charset="utf-8" />

    <script type='text/javascript' src='/content/visit'></script>
</body>
</html>

