@{
    Layout = null;
}
@*@model LoginModel*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EasyCms-登录</title>
    <link rel="stylesheet" type="text/css" href="~/extui/login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/extui/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/extui/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/extui/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/extui/login/css/main.css">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if (window.top !== window.self) { window.top.location = window.location; }</script>
</head>
<body class="signin">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../extui/login/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" action="/login/LoginOn" method="post">
                    <span class="login100-form-title p-b-49">登录</span>

                    <div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
                        <span class="label-input100">用户名</span>
                        <input class="input100" type="text" name="uname" placeholder="请输入用户名" autocomplete="off">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="请输入密码">
                        <span class="label-input100">密码</span>
                        <input class="input100" type="password" name="pwd" placeholder="请输入密码">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="text-center p-t-8 p-b-31" style="color: red;">
                        @Html.ValidationMessage("err")
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">登 录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="~/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/extui/login/js/main.js"></script>
    <!--统计代码，可删除-->
</body>
</html>


