@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>EasyCMS后台管理</title>
    <link href="~/ui/css/login.css" rel="stylesheet" type="text/css" />
    <script>
        localStorage.removeItem("lockScreen");
        if (window.top !== window.self) { window.top.location = window.location; }
    </script>
</head>
<body>
    <div style="text-align:center;">
        <p></p>
    </div>
    <div class="login_box">
        <div class="login_l_img"><img src="/ui/images/login-img.png" /></div>
        <div class="login">
            <div class="login_logo"><a href="#"><img src="/ui/images/login_logo.png" /></a></div>
            <div class="login_name">
                <p>EasyCMS管理系统</p>
            </div>
            <form method="post" action="/login/LoginOn">
                <input name="uname" id="uname" type="text" value="" placeholder="用户名" required >
                <input name="pwd" type="password" id="pwd" placeholder="密码" required/>
                <input value="登录" style="width:100%;" type="submit">
                <div class="text-center p-t-8 p-b-31" style="color: red;">
                    @Html.ValidationMessage("err")
                </div>
            </form>
        </div>
        <div class="copyright">EasyCMS 版权所有© 2019-2021</div>
    </div>

    <!--统计代码，可删除-->
</body>
</html>


