<!-- footer部分 -->
<div class="footer">
    <div class="layui-container">
        <p class="footer-web">
            <vt:template name="contents" channelIndex="友情链接" startNum="1" total="6">
                <vt:foreach from="$#.contents" item="#.content" index="#.i">
                    <a href="{$:#.content.content_href}" target="_blank">{$:#.content.title }</a>
                </vt:foreach>
            </vt:template>
        </p>
        <div class="layui-row footer-contact">
            <div class="layui-col-sm2 layui-col-lg1">
                <img src="/static/img/erweima.jpg">
            </div>
            <div class="layui-col-sm10 layui-col-lg11">
                <div class="layui-row">
                    <div class="layui-col-sm6 layui-col-md8 layui-col-lg9 textCenter">
                        <p class="contact-top"><span class="right">该模板版权归 <a href="#" target="_blank">cms.atlass.com</a> 所有</span></p>
                        <p class="contact-bottom"><span class="right">{$site.site_icp}</span></p>
                    </div>
                    <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
                        <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;15961820351&nbsp;&nbsp;&nbsp;(9:00-18:00)</p>
                        <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;461733078@qq.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
    layui.config({
        base: '/static/js/'
    }).use('firm');
</script>