<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$site.site_title}</title>
    <meta name="Keywords" content="{$site.site_keyword}" />
    <meta name="Description" content="{$site.site_description}" />
    <link rel='stylesheet' href='/static/css/bootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/jquery.fancybox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/swiper.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/slicknav.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/static/css/font-awesome.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='/static/js/jquery.js'></script>
    <script type='text/javascript' src='/static/js/jquery-migrate.min.js'></script>
</head>