<script type='text/javascript' src='{Stl.SiteUrl}/js/xs.js'></script>
            <script type='text/javascript' src='{Stl.SiteUrl}/js/bootstrap.min.js'></script>
            
            <script type='text/javascript' src='{Stl.SiteUrl}/js/scripts.js'></script>
            <script type='text/javascript' src='{Stl.SiteUrl}/js/swiper.jquery.min.js'></script>
            <script type='text/javascript' src='{Stl.SiteUrl}/js/jquery.slicknav.min.js'></script>
            <script type='text/javascript' src='{Stl.SiteUrl}/js/wp-embed.min.js'></script>