<header id="header">
    <div class="container">
        <div class="header-logo pull-left">
            <a title="EasyCms内容管理系统" class="logo-url" href="/index.html">
                <img src="/static/images/logo.png" />
            </a>
        </div>
        <div class="header-menu pull-right">
            <ul id="menu-nav" class="header-menu-con">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                    <a href="/index.html">首页</a>
                </li>
                <vt:foreach from="$#.navigations" item="#.navidto" index="#.i">
                    <!--vt[]-->
                    <vt:if var="#.navidto.dis_drawing" value="1">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                            <a href="{$#.navidto.channel_href}">{$#.navidto.channel_name}和</a>
                        </li>
                        <vt:else />
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                            <a href="#">首页</a>
                        </li>
                        <vt:if />

                </vt:foreach>
            </ul>
        </div>
    </div>
</header>