  <!-- nav部分 -->
<div class="nav index">
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
            <a href="/index.html">
                <img src="/static/images/logo.png" alt="EasyCMS内容管理系统" width="200" height="40">
            </a>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                <vt:foreach from="$navigations" item="#.navi" index="#.i">
                    <!--vt[]-->
                    <vt:if var="#.navi.drawing_enable" value="1">
                        <li class="layui-nav-item"><a href="{$navi.channel_href}">{$navi.channel_name}</a></li>
                        <vt:else />
                    </vt:if>
                </vt:foreach>
            </ul>
        </div>
    </div>
</div>