<header id="header">
    <div class="container">
        <div class="header-logo pull-left">
            <a title="EasyCms内容管理系统" class="logo-url" href="/index.html">
                <img src="/static/images/logo.png" />
            </a>
        </div>
        <div class="header-menu pull-right">
            <ul id="menu-nav" class="header-menu-con">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home">
                    <a href="/index.html">首页</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                    <a href="/index.html">公司介绍</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                    <a href="/index.html">企业文化</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                    <a href="/index.html">新闻动态</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                    <a href="/index.html">通知公告</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                    <a href="/index.html">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</header>