<div class="col-md-3 col-sm-3 hidden-xs sidebar">

  <aside id="recent-posts-2" class="widget widget_recent_entries">
    <h3 class="widget-title">热门新闻</h3>
    <ul>
      <stl:contents channelIndex="新闻动态" scope="SelfAndChildren" totalNum="8" order="Hits">
        <li>
          <stl:a>
            <stl:content type="Title"></stl:content>
          </stl:a>
        </li>
      </stl:contents>
    </ul>
  </aside>
  <aside id="black-studio-tinymce-2" class="widget widget_black_studio_tinymce">
    <h3 class="widget-title">广告位</h3>
    <div class="textwidget">
      <p>
        <stl:contents channelIndex="广告位同步测试" totalNum="1">
          <img class="aligncenter size-full wp-image-57" src="{Content.ImageUrl}" alt="" width="325" height="607" />
        </stl:contents>
      </p>
    </div>
  </aside>
</div>