
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div id="toolbar" class="btn-group">
                </div>
                <div>
                    <table id="roleTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script>
        var $roleTable;
        $(function () {
            loadGrid();
        });

        function loadGrid() {
            $roleTable = $("#roleTable").bootstrapTable({
                url: '/BasicData/QuestionTheme/GetData',
                toolbar: '#toolbar',
                pagination: true,
                height: $(window).height() - 50,
                pageSize: 15,
                pageList: [5, 10, 15, 20],
                showColumns: true,
                showRefresh: true,
                clickToSelect: true,
                sidePagination: "server",
                locale: "zh-CN",
                striped: true,
                columns: [
                    { field: 'ck', checkbox: true },
                    { field: 'theme_name', title: '主题', align: 'center' },
                    { field: 'sort_num', title: '排序', align: 'center' },
                    { field: 'insert_time', title: '创建时间', align: 'center' },
                    { field: 'id', title: '操作', align: 'center', formatter: renderOpt }
                ]

            });

            jutils.initToolBarRole('#toolbar');
        }

        //渲染操作
        function renderOpt(v, r, i) {
            var html = jutils.initToolBarRow(v);

            return html;
        }

        function add() {
            jutils.dialog('咨询主题', '/BasicData/QuestionTheme/form/', { id: 0 }, null,
                function () {
                    $roleTable.bootstrapTable('refresh');
                });
        }

        function edit(obj) {

            var id = $(obj).data('id');
            jutils.dialog('咨询主题', '/BasicData/QuestionTheme/form', { id: id }, null,
                function () {
                    $roleTable.bootstrapTable('refresh');
                });

        }

        function del(obj) {
            var id = $(obj).data('id');
            jutils.confirm('确认删除吗',
                function () {
                    jutils.ajaxGet('/BasicData/QuestionTheme/DeleteById',
                        { id: id },
                        function () {
                            $roleTable.bootstrapTable('refresh');
                        });
                });
        }
    </script>


}

