@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead,figure {
	border: 0;
	font-size: 14px;
	font-style: inherit;
	font-weight: inherit;
	outline: 0;
	padding: 0;
	margin: 0;
	vertical-align: baseline;
}
body{
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, '宋体';
}
ul,li,ol {
	list-style: none;
	background: transparent;
	margin-bottom:0;
}
b,strong{font-weight:bold;}
a,a:visited, a:focus {
	text-decoration: none;
	color: #666;
}
a:hover{
	color: #000;
	text-decoration: none;
}
a,button,input{ 
outline: none;
}
.alignleft {
display:inline;
float:left;
margin-right:1.625em;
}
.alignright {
display:inline;
float:right;
margin-left:1.625em;
}
.aligncenter {
clear:both;
display:block;
margin-left:auto;
margin-right:auto;
}
.header-logo{
	margin-top:10px;
	margin-bottom:10px;
}
.logo-url{
	height:60px;
	line-height:60px;
	font-size:24px;
	font-weight:bold;
}
.logo-url img{max-height:60px;width:auto;display:block;}
.header-menu ul{

}
#idx-about img{max-height:117px;width:auto;}
.header-menu ul li{
	float:left;
	position:relative;
}
.header-menu>ul>li.current-menu-item{
	 background-color: #f00;
    -webkit-transition: top 200ms;
    transition: top 200ms;
}
.header-menu>ul>li.on{
	 background-color: #f00;
    -webkit-transition: top 200ms;
    transition: top 200ms;
}
.header-menu>ul>li.current-menu-item>a,.header-menu>ul>li.on>a{
	color:#fff;
}

.header-menu>ul>li>a{
	display:inline-block;
	height:40px;
	line-height:40px;
	padding:0 20px;
	color:#666;
	font-size:16px;
	margin:20px 0;
}
.header-menu>ul>li>a:hover{
	color:#fff;
	text-decoration: none;
}
#slider img{max-width:100%;height:auto;}
#slider .icon-arrows-left {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -15px;
    width: 25px;
    height: 39px;
    z-index: 10;
    background-position: 0 0;
    cursor: pointer;
}
#slider .icon-arrows-right {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    width: 25px;
    height: 39px;
    background-position: -25px 0;
    z-index: 10;
    cursor: pointer;
}
#content{
	margin-top:20px;
}
#content .tab-content{
	margin:15px 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #000;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom-color: #f90;
	padding:10px;
}
.nav>li>a {
    padding: 10px;
	    color: #888;
}
#idxcontact h3{
	padding:0 0 10px 10px ;
}
#idxcontact ul{
	padding-left:10px;
	color: #aaa;
    font-size: 12px;
}
#idxLink ul{
	padding-left:10px;
}
#idxLink ul li{
	float:left;
	margin:0 10px 5px 0;
}
#idxLink ul li a   {
	color: #aaa;
    font-size: 12px;
}
#idxnews ul,#idxnotice ul{
padding-left:10px;
}
#idxnews ul li,#idxnotice ul li{
margin-bottom:10px;
}
#idxnews ul li a,#idxnotice ul li a{
    height: 20px;
    line-height: 20px;
    display: block;
    overflow: hidden;
}
#idxnews ul li a em,#idxnotice ul li a em {
    display: inline-block;
    vertical-align: 2px;
    width: 5px;
    height: 5px;
    background: #8BBEE4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-right: 10px;
}
#idxnews ul li a span,#idxnotice ul li a span{
float:right;
}
#footer {
	margin-top:30px;
	padding:30px 0;
  border-top: 1px solid #ddd;
  color: #666;
  background: #f1f1f1;
}
.link {overflow:hidden;}
.link  h3{font-size:16px;margin-bottom:10px;}
.link ul li {
    float: left;
    margin: 0 10px 10px 0;
}
.sns {}
.sns a{float:right;margin-left:15px;}
.sns a i {
    font-size: 24px;
    display: block;
}
.btm-search{overflow:hidden;margin-top:20px;}
.btm-search form {
  position: relative;
    width: 60%;
}
 .btm-search form input {
  width: 100%;
  line-height: 32px;
  color: #666;
  background: #fff;
  border: 1px solid #ddd;
  height: 32px;
  padding-left: 10px;
}
.btm-search form button {
  position: absolute;
  right: 1%;
  top: 5px;
  background: none;
  border: none;
  color: #666;
  font-size: 16px;
  line-height: 1;
}
.wechat {
    position: relative;
}
.wechat .img-wechat {
    position: absolute;
    top: -140px;
    width: 110px;
    height: 130px;
    left: 50%;
    margin-left: -55px;
    padding: 10px;
    background: #fff;
    display: none;
    z-index: 20;
    line-height: 1;
}
.wechat .img-wechat img {
    max-width: 100%;
}
.wechat .img-wechat .text {
    color: #999;
    margin-top: 5px;
    display: inline-block;
}
.wechat .img-wechat::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #fff none repeat scroll 0 0;
  border-color: #666;
  border-image: none;
  border-style: solid;
  border-width:  0 0 1px 1px;
  content: " ";
  height: 10px;
  position: absolute;
  right: 50px;
  bottom: -5px;
  transform: rotate(-45deg);
  width: 10px;
}
#idx-images img {
    max-width: 100%;
}
.shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: 100% auto;
    height: 216px;
    z-index: 3;
}
.banner-title {
    text-align: left;
    color: #fff !important;
    z-index: 6;
    position: absolute;
    padding: 10% 5%;
    width: 100%;
    bottom: 0;
    left: 0;
}
.widget_nav_menu ul li{margin-bottom:0 !important;}
.widget_nav_menu ul li a{
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-bottom:-1px;
}
.widget_nav_menu li.current-menu-item a{
    color: #f9fdff;
    background-color: #45abe8;
	    border: 0;
}
.crumbs{
    margin-bottom: 20px;
    background-color: #f5f5f5;
	padding:10px;
}

.entry-content p{
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 1.75;

}
.entry-content h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 15px;
}
.entry-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px 15px;
}
.entry-content img{max-width:100%;height: auto;}
.content .entry-content a {
    font-weight: bold;
	text-decoration: underline;
	color:#333;
	font-size:16px;
}
.text-center img{max-width:100%;height:auto;}
.content .entry-content a:hover {
	text-decoration: none;
	color:#666;
}
.entry-content p.intro {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.4;
}
.entry-content > ul {
    list-style: disc;
    margin-bottom: 20px;
    padding-left: 40px;
}
.entry-content> ul li {
    list-style: disc;
    font-size: 16px;
    line-height: 1.75;
}
.entry-content blockquote{
  padding: 20px;
  background: #f5f5f5;
}
.entry-content blockquote {
  margin: 0 0 20px;
}
.content-list article {
    padding-bottom: 30px;
    border-bottom: 1px solid #dbdbdb;
	margin-bottom:30px;
}
.content-list .entry-img a img {
  max-width: 100%;
  height: auto;
}
.content-list .entry-content h2 {
  margin: 10px 0;
}
.content-list .entry-content h2 a {
  font-size: 20px;
  font-weight: bold;
}
 .content-list .entry-content p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}
 .content-list .entry-content .entry-meta {
  color: #9baab6;
  line-height: 25px;
}
.content-list .entry-content .entry-meta a {
  margin: 0 5px;
  font-size: 12px;
  color: #9baab6;
}
.content-list .page-nav {
  text-align: center;
  padding: 20px 0 20px;
  line-height: 28px;
}
.content-list .page-nav a,
.content-list .page-nav span {
  display: inline-block;
  height: 28px;
  border: 1px solid #9d9d9d;
  padding: 0 10px;
  font-size: 14px;
  color: #595959;
  margin: 0 1px;
  vertical-align: top;
}
.content-list .page-nav .current {
  background: #ff001e;
  color: #fff;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ff001e;
}
.single-header{margin-bottom:10px;}
.single-header h1 {
  line-height: 30px;
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

 .single-header .single-meta {
  overflow: hidden;
  padding:0 10px;
}
 .single-header .single-meta .author,
 .single-header .single-meta .time {
  float: left;
  margin-right: 10px;
  line-height: 36px;
}
 .single-header .single-meta .bdsharebuttonbox {
  float: right;
  line-height: 36px;
}
#nav-single{padding-bottom:20px;}
.widget:last-child {
  padding-bottom: 0 !important;
}

.widget {padding-bottom:30px;}
.widget img{max-width:100%;height:auto;}
.widget h3.widget-title {

  font-size: 18px;
  border-bottom: 1px solid #dcdcdc;
 padding-bottom:10px;
 margin-bottom:10px;

}

.widget ul li{
 margin-bottom:10px
}
.widget ul li:before{
    display: inline-block;
    vertical-align: 2px;
    width: 5px;
    height: 5px;
    background: #8BBEE4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-right: 10px;
}
.widget_categories ul.children {
  padding: 5px 0 0 15px;
}
.textwidget p{
  line-height: 1.7;
}
.textwidget a{
  text-decoration: underline;
}
.textwidget ul a {
  text-decoration: none;
}
.mini {
    position: relative;
}
@media (min-width: 768px ) {
.slicknav_menu{display:none}
.sub-menu {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 9999;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-top: 2px solid #f00;
}
.sub-menu li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    z-index: 9999;
	    padding: 10px 0;
}
.sub-menu li a {
    display: block;
    border: none;
    text-align: center;
    font-size: 16px;
}

}
@media (max-width: 768px ) {

.header-menu-con{display:none;}

}
.single-info {
  color: #323232;
  border-bottom: 1px dashed #959595;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}