
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="ibox" id="main-container">
    <div class="ibox-title">
        <h5>患者信息</h5>
    </div>
    <div class="ibox-content">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">昵称：</label>
                <div class="col-sm-9">
                    <label class="control-label">{{user.nick_name}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">唯一ID：</label>
                <div class="col-sm-9">
                    <label class="control-label">{{user.open_id}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">居住地：</label>
                <div class="col-sm-9">
                    <label class="control-label">{{user.province}} {{user.city}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-9">
                    <label class="control-label">{{user.gender|gender}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">出生年份：</label>
                <div class="col-sm-9">
                    <label class="control-label">{{user.birth_year}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">职位：</label>
                <div class="col-sm-9">
                    <label class="control-label">{{user.job_name}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">民族：</label>
                <div class="col-sm-9">
                    <label class="control-label">{{user.national}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">婚姻状况：</label>
                <div class="col-sm-9">
                    <label class="control-label">{{user.marriage_status|Marriage}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">文化程度：</label>
                <div class="col-sm-9">
                    <label class="control-label">{{user.educational_level|renderEdu}}</label>
                </div>
            </div>
        </div>
        <div class=" clearfixhr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-12 col-sm-offset-3">
                <button class="btn btn-warning" type="button" onclick="cancel()">返回</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var app = new Vue({
            el: '#main-container',
            data: {
                user: {}
            },
            methods: {

            },
            created: function () {
                loadData();
            },
            computed: {
                questionEnd: function(v) {
                    if (this.question.qend) {
                        return '<span class="label label-primary">已结束</span>';
                    }
                    return '<span class="label label-danger">未结束</span>';
                }
            },
            filters: {
                timeFormatter: function (value) {
                  return jutils.toLocalTime(value);
                },
                gender: function (v) {
                    if (v === 0)
                        return '女';
                    return '男';
                },
                renderEdu: function (v) {
                    if (v === 1) {
                        return '文盲';
                    } else if (v === 2) {
                        return '小学';
                    } else if (v === 3) {
                        return '初中';
                    } else if (v === 4) {
                        return '高中或中专';
                    } else if (v === 5) {
                        return '大专及以上';
                    }
                    return '暂无';
                },
                Marriage : function (v) {
                    if (v === 1) {
                        return '未婚';
                    } else if (v === 2) {
                        return '已婚有配偶';
                    } else if (v === 3) {
                        return '离异或丧偶';
                    } else if (v === 4) {
                        return '不详';
                    }
                    return '暂无';
                }

            }
        });

        function loadData() {
            var id = jutils.getQueryParam("id");
            jutils.ajaxGet('/Consulting/Patient/GetModel', { id: id }, function (res) {
                app.user = res.data.model;
            });
        }


        function cancel() {
            history.back();
        }
    </script>

}


