@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/hplus/js/plugins/webuploader/webuploader.css" rel="stylesheet" />
<style>
    .pli {
        display: block;
        float: left;
    }

    .pdel {
        margin-top: -26px;
        text-align: right;
        filter: alpha(Opacity=80);
        -moz-opacity: 0.9;
        opacity: 0.9;
    }

    img {
        cursor: pointer;
    }
</style>
<div class="ibox-content">
    <form class="form form-horizontal" id="form" autocomplete="off">
        <input type="hidden" name="id" id="id" value="@ViewBag.Id" />
        <div class="form-group">
            <label class="col-sm-3 control-label required">Banner图片：</label>
            <div class="col-sm-3">
                <div id="pic_up">选择图片</div>
                <ul id="pic_up_list"></ul>
            </div>
            <input type="hidden" id="banner_url" name="banner_url" value="" />
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">链接：</label>
            <div class="col-sm-6">
                <input type="text" name="banner_href" id="banner_href" value="" class="form-control" data-rule="required;" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">顺序：</label>
            <div class="col-sm-6">
                <input type="number" name="banner_sort" id="banner_sort" value="0" class="form-control" data-rule="required;" />
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-12 col-sm-offset-3">
                <button class="btn btn-primary" type="submit">保存内容</button>
                <button class="btn btn-white" type="button" onclick="cancel()">取消</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/hplus/js/plugins/webuploader/webuploader.min.js"></script>
    <script type="text/javascript">
        var index = parent.layer.getFrameIndex(window.name), imgup;
        $(function() {
            $('#form').validator({
                stopOnError: false,
                timely: 2,
                theme: "yellow_right",
                valid: function(form) {
                    // 表单验证通过，提交表单
                    jutils.ajaxPost('/doctor/banner/Save',
                        $(form).serialize(),
                        function(res) {
                            cancel();
                        });
                }
            });
            initImgUpload();
            loadData();
        });


        function loadData() {
            var id = $('#id').val();
            if (id !== '0') {
                jutils.ajaxGet('/doctor/banner/GetModel',
                    {id:id},
                    function(res) {

                        var model = res.data.model;
                        if (model) {
                            $('#form').initFormData(model);

                            var html = '<li class="pli" id="' +
                                model.banner_url +
                                '"><img width="150" height="130" src="' +
                                model.banner_url +
                                '"  />';
                            html += '<div class="pdel"><img  src="/images/del.png" onclick="delimg(this)" data-id="' +
                                model.banner_url +
                                '" /></div>';
                            html += '</li>';
                            $('#pic_up_list').html(html);
                        }
                    });
            }

        }


        //初始化上传组件
        function initImgUpload() {
            imgup = new WebUploader.Uploader({
                pick: '#pic_up',
                // 文件接收服务端。
                server: '/doctor/expertinfo/Uploadimg',
                auto: true,
                accept: {
                    title: '图片',
                    extensions: 'jpg,jpeg,png',
                    mimeTypes: 'image/*'
                }
            });
            imgup.on('beforeFileQueued',
                function() {
                    var url = $('#banner_url').val();
                    if (url) {
                        jutils.error('请先删除当前图片');
                        return false;
                    }
                });
            imgup.on('uploadSuccess',
                function(file, res) {
                    //$('#excelInfo').html(process);
                    if (res.status) {
                        var html = '<li class="pli" id="' +
                            res.data.url +
                            '"><img width="150" height="130" src="' +
                            res.data.url +
                            '"  />';
                        html += '<div class="pdel"><img  src="/images/del.png" onclick="delimg(this)" data-id="' +
                            res.data.url +
                            '" /></div>';
                        html += '</li>';
                        $('#pic_up_list').append(html);
                        $('#banner_url').val(res.data.url);
                    }
                });
            imgup.on('uploadComplete',
                function() {
                    imgup.reset();
                });

        }

        function delimg(obj) {
            var id = $(obj).data('id');
            jutils.confirm("确定删除头像？",
                function(res) {
                    jutils.ajaxGet('/doctor/expertinfo/delimg',
                        { url: id },
                        function(res) {
                            $('#pic_up_list').empty();
                            $('#banner_url').val('');
                        });
                });

        }

        function cancel() {
            parent.layer.close(index);
        }
    </script>


}








