
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/plugins/verUpload/asset/upload.css" rel="stylesheet" />
<link href="~/plugins/wangEditor3.1/wangEditor.css" rel="stylesheet" />
<div class="ibox-content">
    <form class="form form-horizontal" id="form" autocomplete="off">
        <input type="hidden" name="id" id="id" value="@(ViewBag.Id)">
        <div class="form-group">
            <label class="col-sm-2 control-label required">专家：</label>
            <div class="col-sm-9">
                @Html.DropDownList("expert_id", ViewBag.ExpertList as SelectList, new { @class= "form-control" ,@style="width:200px;"})
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">标题备注：</label>
            <div class="col-sm-4">
                <input name="qtitle" id="qtitle" class=" form-control"></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">快捷回复内容：</label>
            <div class="col-sm-6">
                <div id="qcontent_editor"></div>
                <textarea name="qcontent" id="qcontent" cols="100" rows="7" style="display:none;"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required">图片：</label>
            <div class="col-sm-4">
                <div class="cupload-upload-box" id="uploader">
                    <span class="cupload-upload-btn">+</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label required"></label>
            <div class="col-sm-6">
                <input type="hidden" name="images" id="images" value="" />
                <ul class="cupload-image-boxs" id="imgList">
                    @*<li class="cupload-image-box" style="position:relative;">
                        <img id="saleImage" class="cupload-image-preview" src="../images/noHead.png" onerror="this.src='../images/noHead.png'">
                        <div class="cupload-image-delete" onclick="deletImage()">
                            x
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-12 col-sm-offset-3">
                <button class="btn btn-primary" type="submit">保存内容</button>
                <button class="btn btn-white" type="button" onclick="cancel()">取消</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/plugins/wangEditor3.1/wangEditor.min.js"></script>
    <script src="~/plugins/verUpload/verUpload.js"></script>
    <script type="text/javascript">
        var editor, images = [];
        $(function () {
            var E = window.wangEditor
            editor = new E('#qcontent_editor')
            editor.create();
            $('#form').validator({
                stopOnError: false,
                timely: 2,
                theme: "yellow_right",
                valid: function (form) {
                    // 表单验证通过，提交表单
                    var expert_id = $('#expert_id').val();
                    if (!expert_id) {
                        jutils.error("请选择专家信息");
                        return;
                    }
                    var qcontent = editor.txt.html();
                    $('#qcontent').val(qcontent);

                    if (images.length === 0) {
                        $('#images').val('');
                    } else {
                        var imgs = images.join();
                        $('#images').val(imgs);
                    }

                    jutils.ajaxPost('/Doctor/quickinfo/savedata', $(form).serialize(),
                        function (res) {
                            cancel();
                        });
                }
            });
            initUpload();
            loadData();
        });


        function loadData() {
            var id = $("#id").val();

            if (id !== '' && id !== '0') {
                jutils.ajaxGet('/Doctor/quickinfo/GetDataById', { id: id }, function (res) {
                    var model = res.data.model;
                    $('#expert_id').val(model.url);
                    $('#qtitle').val(model.hot_title);
                    editor.txt.html(model.summary_info);

                    var imagesData = model.images;
                    if (imagesData && imagesData.length > 0) {
                        for (var i = 0; i < imagesData.length; i++) {
                            initImage(imagesData[i]);
                        }
                    }
                });
            }
        }
        function initUpload() {
            new verUpload({
                files: "#uploader",
                name: "files",
                load_list: true,
                method: '/api/upload/Uploadimg',
                success: function (d) {
                    var res = JSON.parse(d);
                    if (res.status) {
                        initImage(res.data.url);
                    } else {
                        jutils.error("图片上传失败");
                    }
                },
                fail: function (d) {
                    // $('#sale_image').val('');
                    jutils.error("图片上传失败!");
                },
                size: 1024 * 4,
                ext: ['jpg', 'jpeg', 'png', 'gif']
            });

        }

        function initImage(imgUrl) {
            images.push(imgUrl);
            var imgHtml = '<li class="cupload-image-box" style="position:relative;">';
            imgHtml += '<img class="cupload-image-preview" src = "' + imgUrl + '" />';
            imgHtml += '<div class="cupload-image-delete" onclick="deletImage(this)" data-url="' + imgUrl + '">x</div>';
            imgHtml += '</li>';
            $('#imgList').append(imgHtml);
        }

        function deletImage(obj) {
            var url = $(obj).data('url');
            $imgli = $(obj).parent('li');
            jutils.confirm('确认删除图片吗?', function () {
                var imgIndex = images.indexOf(url);
                if (imgIndex >= 0) {
                    images.splice(imgIndex, 1);
                    $imgli.remove();
                }
            })
        }
        function cancel() {
            jutils.closeForm();
        }
    </script>


}







