@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="container-div white-bg">
    <div class="ibox-content">
        <form class="form-horizontal m" id="roleForm" autocomplete="off">
            <input type="hidden" id="id" name="id" value="@(ViewBag.Id)">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">角色名称：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="role_name" id="role_name" data-rule="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">权限字符：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="role_code" id="role_code" data-rule="required">
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 控制器中定义的权限字符，如：[RequiresRoles("")]</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">显示顺序：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" name="role_sort" value="1" id="role_sort" data-rule="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="role_status" name="role_status" checked="" value="1">
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input id="remark" name="remark" class="form-control" type="text">
                </div>
            </div>
            <div class="footerbar">
                <div class="col-sm-12 col-sm-offset-3">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-check"></i>
                        保存
                    </button>
                    <button class="btn btn-danger" type="button" onclick="cancel()">
                        <i class="fa fa-reply-all"></i>关闭
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#roleForm').validator({
                stopOnError: false,
                timely: 2,
                theme: "yellow_right",
                valid: function (form) {
                    //console.log(form);
                    jutils.ajaxPost("/admin/sysrole/savedata", $(form).serialize(), function (res) {
                        if (res.status) {
                            cancel();
                        }
                    });
                },
            });
            loadModel();
        });
        function loadModel() {
            let id = $('#id').val();
            if (jutils.emptyId(id)) {
                return;
            }
            jutils.ajaxGet('/admin/sysrole/GetRoleByIds', { id: id }, function (res) {
                // console.log(res);
                if (res.status) {
                    let model = res.data.model;
                    $('#roleForm').initFormData(model);
                }
            });
        }


        function cancel() {
            jutils.closeDialog();
        }

    </script>


}



